__pycache__/
__pycache__
**/migrations/
**/migrations/

env
# Ignore all migration files
*/migrations/*.py
!*/migrations/__init__.py

# Ignore media files
media/*
!media/post_images/

*/migrations/
media/*

*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/*
 __pycache__

 media/*
!media/post_images/
