# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Ignore the virtual environment directory
env/

# Ignore all migration files except __init__.py
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py
**/migrations/__pycache__/

# Ignore media files except the post_images directory
media/*
!media/post_images/

# Ignore other media files
media/
